@{
    Layout = null;
}

<main class="container py-5">
    <div class="row g-4 align-items-center">
        <div class="col-12 col-lg-6">
            @await Html.PartialAsync("Partials/Entry/_LeftSection")
        </div>
        <div class="col-12 col-lg-6">
            @await Html.PartialAsync("Partials/Entry/_RightSection")
        </div>
        <div class="col-12 mt-5">
            @await Html.PartialAsync("Partials/Entry/_Carousel")
        </div>
    </div>
</main>
