@{
    Layout = null;
}

<div class="declaration-container">
    <h1 class="declaration-title">Terms and Privacy</h1>

    <h2 class="declaration-section-title">Personal Use Terms of Service</h2>

    <div class="declaration-content">
        <p>We have updated our Personal Use Terms of Service. If You are a new User, then this Personal Use Terms of Service will be effective as of April 5, 2024. If You are an existing User, we are providing you with prior notice of these changes which will be effective as of May 4, 2024. To view the previous version of Notion's Terms of Service, click the link below 👇</p>

        <p><a href="https://www.notion.so/Personal-Use-Terms-of-Service-De-precated-April-5-2024-616393b38aa34de2a1ba93d2b7b253e6?pvs=21">Personal Use Terms of Service (Deprecated April 5, 2024)</a></p>

        <p>These Terms apply to personal use of the Services only. If you are accessing or using the Service on behalf of an organization, business, or other legal entity (each an "Organization"), or if you are accessing or using the Service under an eligible plus, business, or enterprise Subscription Plan, then your use of the Services, including ownership of any content created, stored, or transmitted using the Service, shall be exclusively governed by and subject to <strong><a href="https://www.notion.so/Master-Subscription-Agreement-4e1c5dd3e3de45dfa4a8ed60f1a43da0?pvs=21">Notion's Master Subscription Agreement</a></strong>.</p>

        <p>Please read these Personal Use Terms of Service ("Terms" or "Terms of Service") carefully before using the <a href="https://www.notion.so/">www.notion.so</a> website and Services operated by Notion Labs, Inc. ("Notion", "us", "we", or "our"). For purposes of these Terms, "you" and "your" means you as the user of the Service. "Services" means Notion's online software-as-a-service platform and services including any related APIs provided by Notion, together with all related mobile and desktop applications, and Add-ons to which you subscribe. "Services" exclude Non-Notion Services.</p>

        <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all individual visitors, users and others who wish to access or use the Service. These Terms apply to personal use of the Services only. You acknowledge that these Terms, along with Notion's <a href="https://www.notion.so/Privacy-Policy-3468d120cf614d4c9014c09f6adc9091?pvs=21">Privacy Policy</a>, govern your access and use of the Service.</p>
    </div>
</div>

