@{
    ViewData["Title"] = "個人頁面";
    Layout = "~/Areas/Weather/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @await Html.PartialAsync("Partials/_Styles")
}

<div class="container p-2 p-md-3">
        <!-- 第一區塊：Outfit Log、Sep. 15、Lily's Style Profile -->
        <div class="row g-3">
            <div class="col-12 col-md-4">
                @await Html.PartialAsync("Partials/_Calendar")
            </div>
            
            <div class="col-12 col-md-4">
                @await Html.PartialAsync("Partials/_OutfitDisplay")
            </div>
            
            <div class="col-12 col-md-4">
                @await Html.PartialAsync("Partials/_ProfileInfo")
            </div>
        </div>
        
        <!-- 服裝分類區塊 -->
        <div class="row g-3 mt-3">
            <div class="col-12">
                @await Html.PartialAsync("Partials/_ClothingCategories")
            </div>
        </div>
        
        <!-- Modify Closet 按鈕 -->
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button class="btn modify-closet-btn">Modify my closet</button>
            </div>
        </div>
    </div>

