@model HNB.Areas.WW.Models.TodayIndexModel
@{
    Layout = "~/Areas/WW/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Today";
}

<section class="ww-feature-today">
    @await Html.PartialAsync("Partials/_MainContent", Model)
</section>

@section Styles {
    @await Html.PartialAsync("Partials/_Styles")
}

@section Scripts {
    @await Html.PartialAsync("Partials/_Scripts")
}
