@{
    Layout = null;
}

<div class="container-fluid py-4">
    <div class="section-title text-center fw-bold py-2 mb-3 rounded">
        <h5 class="mb-0">畫面展開圖</h5>
    </div>
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="screenshot-item">
                <div class="phone-frame">
                    <div class="phone-notch"></div>
                    <div class="realtime-phone-screen" id="phoneScreen">
                        <div class="realtime-phone-content d-flex flex-column p-3" id="screenContainer">
                            @await Html.PartialAsync("Partials/DialVision/Screens/_LoginScreen")
                        </div>
                        <div class="phone-home-indicator"></div>
                    </div>
                </div>
                <div class="screenshot-title">登入畫面</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="screenshot-item">
                <div class="phone-frame">
                    <div class="phone-notch"></div>
                    <div class="realtime-phone-screen" id="phoneScreen">
                        <div class="realtime-phone-content d-flex flex-column p-3" id="screenContainer">
                            @await Html.PartialAsync("Partials/DialVision/Screens/_DashboardScreen")
                        </div>
                        <div class="phone-home-indicator"></div>
                    </div>
                </div>
                <div class="screenshot-title">儀表板畫面</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="screenshot-item">
                <div class="phone-frame">
                    <div class="phone-notch"></div>
                    <div class="realtime-phone-screen" id="phoneScreen">
                        <div class="realtime-phone-content d-flex flex-column p-3" id="screenContainer">
                            @await Html.PartialAsync("Partials/DialVision/Screens/_RegisterScreen")
                        </div>
                        <div class="phone-home-indicator"></div>
                    </div>
                </div>
                <div class="screenshot-title">錶盤註冊畫面</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="screenshot-item">
                <div class="phone-frame">
                    <div class="phone-notch"></div>
                    <div class="realtime-phone-screen" id="phoneScreen">
                        <div class="realtime-phone-content d-flex flex-column p-3" id="screenContainer">
                            @await Html.PartialAsync("Partials/DialVision/Screens/_CameraScreen")
                        </div>
                        <div class="phone-home-indicator"></div>
                    </div>
                </div>
                <div class="screenshot-title">拍攝畫面</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="screenshot-item">
                <div class="phone-frame">
                    <div class="phone-notch"></div>
                    <div class="realtime-phone-screen" id="phoneScreen">
                        <div class="realtime-phone-content d-flex flex-column p-3" id="screenContainer">
                            @await Html.PartialAsync("Partials/DialVision/Screens/_SettingsScreen")
                        </div>
                        <div class="phone-home-indicator"></div>
                    </div>
                </div>
                <div class="screenshot-title">設定畫面</div>
            </div>
        </div>
    </div>
</div>
