@{
    ViewBag.Title = "Horizon Nova 團隊";
    Layout = "~/Views/Shared/_LayoutIntroduction.cshtml";
}
<link rel="stylesheet" href="~/css/Team_introduction.css" />
<script src="~/js/Team_introduction.js"></script>


<div class="container-fluid my-5">

</div>
