@model HNB.Areas.WW.Models.WardrobeIndexModel
@{
    Layout = "~/Areas/WW/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Closet";
}

@section Topbar {
    <div class="ww-closet-topbar">
        @await Html.PartialAsync("Partials/_Topbar", Model)
    </div>
}

<section class="flex h-full min-h-0 overflow-hidden">
    @await Html.PartialAsync("Partials/_MainContent", Model)
</section>

@section Head {
    @await Html.PartialAsync("Partials/_Styles")
}

@section Scripts {
    @await Html.PartialAsync("Partials/_Scripts")
}
