@model HNB.Areas.WW.Models.WardrobeIndexModel
@{
    Layout = "~/Areas/WW/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Closet";
}

@section Topbar {
    @await Html.PartialAsync("Partials/_Topbar", Model)
}

<section class="ww-feature-closet">
    @await Html.PartialAsync("Partials/_MainContent", Model)
</section>

@section Styles {
    @await Html.PartialAsync("Partials/_Styles")
}

@section Scripts {
    @await Html.PartialAsync("Partials/_Scripts")
}
