@{
    ViewData["Title"] = "Whatever the wheather.";
    Layout = "~/Areas/Weather/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @await Html.PartialAsync("Partials/Outfit/_Styles")
}

<div id="section-a">
    @await Html.PartialAsync("Partials/Outfit/_Hero")
    @await Html.PartialAsync("Partials/Outfit/_ClosetManagement")
    @await Html.PartialAsync("Partials/Outfit/_OutfitLog")
</div>

@await Html.PartialAsync("Partials/Outfit/_WhatToWear")
@await Html.PartialAsync("Partials/Outfit/_CallToAction")