@{
    ViewData["Title"] = "資料庫管理";
    ViewData["PageTitle"] = "資料庫管理系統";
    ViewData["PageDescription"] = "建立資料庫連線並生成程式碼模型";
    ViewData["PageIcon"] = "database";
    ViewData["HelpModalId"] = "helpModal";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<section class="mb-3 mb-lg-4">
    @await Html.PartialAsync("Partials/Database/_Control")
</section>

@await Html.PartialAsync("Partials/Database/Modal/_Help")
@await Html.PartialAsync("Partials/Database/Modal/_TableDetail")

@section Scripts {
    @await Html.PartialAsync("Partials/Database/_Scripts")
}
