@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        initGrid();
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/DemoManage/Table/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            showFooter: true,
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: '使用者編號' },
                { field: 'RealName', title: '使用者姓名' },
                { field: 'Mobile', title: '手機' },
                { field: 'Email', title: '信箱' },
                {
				    field : 'LoginCount',
				    title : '登入次數',
				    footerFormatter:function (value) {
				    	var sumBalance = 0;
				        for (var i in value) {
				        	sumBalance += parseFloat(value[i].LoginCount);
				        }
				        return "總次數：" + sumBalance;
				    }
				},
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="#"><i class="fa fa-edit"></i>編輯</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="#"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }
</script>
