@{
    Layout = null;
}

<div class="vh-100 d-flex align-items-center position-relative" style="background: url('/Weather/image/calendar_index.png') center/cover no-repeat; margin-left: calc(-50vw + 50%); margin-right: calc(-50vw + 50%); width: 100vw;">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-6 text-center">
                <h1 class="fs-b fw-bold mb-0 text-dark">Create Your</h1>
                <h1 class="fs-b mb-3 text-dark fw-normal"><em class="brand-italic">Outfit Log</em></h1>
                <h2 class="fs-n fw-bold mb-0 text-dark">smart, stylish, and always ready for you.</h2>
            </div>
        </div>
    </div>
</div>
