@{
    Layout = null;
}

<div class="vh-100 d-flex align-items-center position-relative">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <p class="fs-n text-dark">此區域應放置圖片：1764301297921@2x.png</p>
                <p class="fs-s text-dark">建議尺寸：1920×1280 (3:2 比例) @@ 72-96 DPI</p>
                <p class="fs-l text-dark">等待客戶提供正確圖片</p>
            </div>
        </div>
    </div>
</div>
