@{
    Layout = null;
}

<div class="bg-white border rounded-3 p-3 p-lg-4 mb-3 mb-lg-4">
    <div id="organizationChart"
         class="w-100 border rounded-3 bg-light position-relative overflow-hidden"
         style="height: 600px;">
    </div>
</div>

