@model HNB.Areas.WW.Models.HistoryIndexModel
@{
    Layout = "~/Areas/WW/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Calendar";
}

@section Topbar {
    @await Html.PartialAsync("Partials/_Topbar")
}

<section class="ww-feature-calendar">
    @await Html.PartialAsync("Partials/_MainContent", Model)
</section>

@section Styles {
    @await Html.PartialAsync("Partials/_Styles")
}

@section Scripts {
    @await Html.PartialAsync("Partials/_Scripts")
}
