@{
    Layout = null;
}

<!-- 上傳進度 Modal -->
<div id="uploadProgress" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploadProgressLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadProgressLabel">正在上傳檔案</h5>
            </div>
            <div class="modal-body" style="max-height:400px; overflow-y:auto;">
                <div id="uploadItems" class="vstack gap-3"></div>
            </div>
        </div>
    </div>
</div>

