@model List<Models.HnbHnbBackoffice.vw_sidebar_navigation>
@{
    Layout = null;
}

<option value="">無（第一層）</option>
@foreach (var nav in Model.Where(m => string.IsNullOrEmpty(m.parent_code)))
{
    <option value="@nav.code">@nav.title (@nav.code)</option>
}

