@{
    Layout = "~/Views/Shared/_FormGray.cshtml";
}

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本面板 <small class="m-l-sm">這是一個自定義面板</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="tabs_panels.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="tabs_panels.html#">選項1</a>
                            </li>
                            <li>
                                <a href="tabs_panels.html#">選項2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h2>
                        Bootstrap<br />
                    </h2>
                    <p>
                        簡洁、直觀、强悍的前端開發框架，讓web開發更迅速、簡單。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Bootstrap面板 <small>自定義背景</small></h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    默認面板
                                </div>
                                <div class="panel-body">
                                    <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合适的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    主要
                                </div>
                                <div class="panel-body">
                                    <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合适的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    成功
                                </div>
                                <div class="panel-body">
                                    <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合适的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> 信息
                                </div>
                                <div class="panel-body">
                                    <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合适的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <i class="fa fa-warning"></i> 警告
                                </div>
                                <div class="panel-body">
                                    <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合适的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    危险
                                </div>
                                <div class="panel-body">
                                    <p>通過 .panel-heading 可以很簡單地為面板加入一個標題容器。你也可以通過添加設置了 .panel-title 類的標籤，添加一個預定義樣式的標題。 為了給連結設置合适的顏色，務必將連結放到帶有 .panel-title 類的標題標籤內。</p>
                                </div>
                                <div class="panel-footer">
                                    面板Footer
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>折叠面板</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="tabs_panels.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="tabs_panels.html#">選項1</a>
                            </li>
                            <li>
                                <a href="tabs_panels.html#">選項2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="tabs_panels.html#collapseOne">標題 #1</a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Bootstrap相關優質項目推荐 這些項目或者是對Bootstrap進行了有益的補充，或者是基於Bootstrap開發的
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="tabs_panels.html#collapseTwo">標題 #2</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Bootstrap相關優質項目推荐 這些項目或者是對Bootstrap進行了有益的補充，或者是基於Bootstrap開發的
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="tabs_panels.html#collapseThree">標題 #3</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Bootstrap相關優質項目推荐 這些項目或者是對Bootstrap進行了有益的補充，或者是基於Bootstrap開發的
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="jumbotron">
                <h1>超大螢幕</h1>
                <p>Bootstrap 支持的另一個特性，超大螢幕（Jumbotron）。顧名思義該組件可以增加標題的大小，並為登入頁面內容添加更多的外邊距（margin）。使用超大螢幕（Jumbotron）的步驟如下：</p>
                <div class="alert alert-warning">
                    <ol>
                        <li>創建一個帶有 class .jumbotron. 的容器</li>
                        <li>除了更大的 &lt;h1&gt;，字體粗细 font-weight 被减為 200px。</li>
                    </ol>
                </div>

                <p>
                    <a role="button" class="btn btn-primary btn-lg">了解更多</a>
                </p>
            </div>
        </div>
    </div>
</div>