@{
    Layout = null;
}

<div id="section-a">
    <!-- Hero Section -->
    <div class="vh-100 px-3">
        <div class="container h-100">
            <div class="row h-100 justify-content-center pt-5 g-2">
                <div class="col-auto text-center align-self-center">
                    <h1 class="fw-bold mb-0 text-dark fs-b" style="line-height: 1;">What ever</h1>
                    <h1 class="mb-0 text-dark fw-normal fs-b" style="line-height: 1;">the <em class="brand-italic fw-normal">wheather</em></h1>
                </div>
                <div class="col-auto text-center align-self-center">
                    <h3 class="mb-0 text-dark fs-n">Smart closet.Smarter You.</h3>
                </div>
                <div class="col-12 text-center">
                    <div class="mt-2">
                        <a href="/Weather/Profile" class="btn btn-brand rounded-pill px-4 py-2 text-dark text-decoration-none">Try it for Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Manage your Closet Section -->
    <div class="vh-100 px-5">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="fs-b fw-bold text-dark">
                        Manage your Closet with <em class="brand-italic fw-normal">AI-power.</em>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Your Outfit Log Section -->
    <div class="vh-100 px-5">
        <div class="container h-100">
            <div class="row h-100 justify-content-end">
                <div class="col-12 col-md-6 text-center">
                    <h1 class="fs-b fw-bold mb-0 text-dark">Create Your</h1>
                    <h1 class="fs-b mb-3 text-dark fw-normal"><em class="brand-italic">Outfit Log</em></h1>
                    <h2 class="fs-n fw-bold mb-0 text-dark">smart, stylish, and always ready for you.</h2>
                </div>
            </div>
        </div>
    </div>
</div>



