@{
    var title = ViewData["Title"] as string ?? "";
}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@title</title>
    <link rel="icon" type="image/png" href="https://horizon-nova.up.railway.app/image/Horizon%20Nova%20Logo1.png" />
    <link rel="shortcut icon" type="image/png" href="https://horizon-nova.up.railway.app/image/Horizon%20Nova%20Logo1.png" />

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Lucide / 其他庫 -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/mammoth@1.6.0/mammoth.browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>

</head>


<body class="h-screen w-screen bg-gradient-to-br from-slate-50 to-blue-50 text-slate-900">
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>

</html>