:root {
    --bms-topbar-h: 0px;
    --bms-sidebar-w: 16rem;
    --bms-divider: rgba(15,23,42,.08);
    --bms-primary: #0b57d0;
    --bms-pill: #eaf1ff;
    --bms-pill-hover: #f4f7ff;
    --bs-body-font-size: .875rem;
    --bs-body-line-height: 1.25rem;
    --button-background-color: hsla(0 0% 100%, 1);
}

html, body {
    font-size: var(--bs-body-font-size);
    line-height: var(--bs-body-line-height);
    color: black;
    background: linear-gradient(to bottom right, #f8fafc, #eff6ff);
    height: 100%;
}
